#classic_mode_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    height: 100vh;

    hr {
        width: 100%;
        border: none;
        outline: 1px solid black;
    }
}

#classic_mode_nav {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;

    button {
        padding: 8px;
        font-size: 1.2rem;
        border: none;
        border-radius: 3px;
        background-color: dodgerblue;
        color: white;

        a {
            text-decoration: none;
            color: white;
        }

        a:active {
            color: red;
        }
    }
}

#status_container {
    position: absolute;
    top: 20%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 1.5rem;
    background-color: burlywood;
    padding: 10px;

    #score_container {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: inherit;
    }
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(104, 83, 83, 0.5);
    backdrop-filter: blur(10px);

    &.active {
        display: block;
    }
}

#winner_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 50%;
    height: 30%;
    z-index: 6;
    color: white;
    background-color: black;

    #current_winner {
        font-size: 2rem;
    }

    #winner_modal_btn_container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        button {
            font-size: 1.5rem;
            border: none;
            padding: 5px;
            border-radius: 3px;
        }
    }

    &.active {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

#opponent_card_container {
    width: 275px;
    height: 350px;
    border: 1px solid black;
    perspective: 1000px;

    #flipper {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.5s ease;
        transform-style: preserve-3d;
    }

    #front,
    #back {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        font-size: 2rem;
        font-weight: 800;
        color: white;
    }

    #front {
        background-color: darkturquoise;
        transform: rotateY(180deg);
    }

    #back {
        background-color: darkcyan;
    }

    .active {
        transform: rotateY(-180deg);
    }

}

#selection_card_container {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding: 20px;

    .card {
        background-color: gold;
        width: 275px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 800;
        transition: transform 0.5s ease;

        &:hover {
            transform: translateY(-3px);
            filter: brightness(1.2);
            cursor: pointer;
        }

        &.disable {
            pointer-events: none;
            color: grey;
            filter: grayscale(1) brightness(1);
        }
    }
}